
@{
    ViewBag.Title = "ChungToi";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Styles.Render("~/Content/ChungToi.css");
}

<div class="flexCt">
    <h3 class="TitleCt">NHÓM 11 CÔNG NGHỆ THÔNG TIN 2</h3>
    <div class="flexCt1">
        <h3>Nhóm Trưởng</h3>
        <p>
            <b>Tên: </b>Phan Tân Phước
            <br />
            <b>Nhiệm Vụ: </b> FullStack
        </p>
    </div>
    <div class="flexCt2">
        <h3>Thành Viên</h3>
        <p>
            <b>Tên: </b>Lê Quốc Việt
            <br />
            <b>Nhiệm Vụ: </b> FontEnd
        </p>
    </div>
    <div class="flexCt3">
        <h3>Thành Viên</h3>
        <p>
            <b>Tên: </b>Cao Quốc Khách
            <br />
            <b>Nhiệm Vụ: </b> FontEnd
        </p>
    </div>
    <div class="flexCt4">
        <h3>Thành Viên</h3>
        <p>
            <b>Tên: </b>Nguyễn Lê Minh Khoa
            <br />
            <b>Nhiệm Vụ: </b> FontEnd
        </p>
    </div>
</div>