@using WebBaoTanNgheThuat.Models
@model SetPasswordViewModel
@{
    ViewBag.Title = "SetPasswordUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Styles.Render("~/Content/SetPasswordUser.css");
}

<br />
<div class="flexSp">
    @using (Html.BeginForm("SetPassword", "DangNhap"))
    {
        <div class="flexSp_1">
            <h3 class="TitleSp">TẠO MẬT KHẨU MỚI</h3>
            @Html.PasswordFor(m => m.MatKhau, new { @class = "BoxSp", placeholder = "Nhập Mật Khẩu..." })
            <br />
            @Html.PasswordFor(m => m.XatNhanMk, new { @class = "BoxSp", placeholder = "Xác Nhận Mật Khẩu..." })
            <p class="ThongBaoSp">@ViewBag.ThongBao</p>
            <button class="NutSp" type="submit">Xác Nhận</button>
        </div>
    }
</div>
