body {
    margin: 0;
    padding: 0;
    font-size: 18px;
}

.flexXn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 7% 0 8% 0;
}

.flexXn1 {
    border: 0.5px solid black;
    border-radius: 10px;
    box-shadow: 0 1px 5px 0.5px;
    padding: 50px;
}

.NutXn {
    margin-left: 30%;
    border-radius: 10px;
    background: linear-gradient(90deg, #58ec6b, #b1f6ef );
    padding: 10px;
    border: hidden;
}

.BoxXn {
    outline: none;
    padding: 10px;
    margin: 10px 0 10px 0;
    width: 100%;
    border: hidden;
    border-radius: 10px;
}
